<div  class="InfoSquare" >
    <div class="Photo">
        <img class="headshots"  src= {{data.img_str}} alt="">
    </div>
    <div mat-dialog-content *ngIf="!editable;else edit"  class="Info">
        <h5>{{data.name}} </h5>
        <h6>{{data.team_name}}</h6>
        <div class="StatWrap">
            <div class="Statcol">
                <div class="stat" matTooltip="Games played" [matTooltipPosition]="position" >G: {{data.games_played}}</div>
                <div class="stat" matTooltip="Points per game" [matTooltipPosition]="position">PS/G: {{data.points_per_game}}</div>
                <div class="stat" matTooltip="Minutes per game" [matTooltipPosition]="position">MP: {{data.minutes_per_game}}</div>
            </div>
            <div class="Statcol">
                <div class="stat" matTooltip="Field goals per game" [matTooltipPosition]="position">FG: {{data.field_goals_made_per_game}}</div>
                <div class="stat" matTooltip="Field goals attempted per game" [matTooltipPosition]="position">FGA: {{data.field_goals_attempted_per_game}}</div> 
                <div class="stat" matTooltip="Field goals %" [matTooltipPosition]="position">FG%: {{data.field_goal_percentage}}</div> 
            </div>
            <div class="Statcol">
                <div class="stat" matTooltip="Three point per game" [matTooltipPosition]="position">3P: {{data.three_point_made_per_game}}</div>
                <div class="stat" matTooltip="Three point attempted per game" [matTooltipPosition]="position">3PA: {{data.three_point_attempted_per_game}}</div>
                <div class="stat" matTooltip="Three point %" [matTooltipPosition]="position">3P%: {{data.three_point_percentage}}</div>   
            </div>
            <div class="Statcol">
                <div class="stat" matTooltip="Offensive rebounds per game" [matTooltipPosition]="position">ORB: {{data.offensive_rebounds_per_game}}</div>
                <div class="stat" matTooltip="Defensive rebounds per game" [matTooltipPosition]="position">DRB: {{data.defensive_rebounds_per_game}}</div>
                <div class="stat" matTooltip="Total rebounds per game" [matTooltipPosition]="position">TRB: {{data.rebounds_per_game}}</div>
            </div>
            <div class="Statcol">
                <div class="stat" matTooltip="Assists per game" [matTooltipPosition]="position">AST: {{data.assists_per_game}}</div>
                <div class="stat" matTooltip="Steals per game" [matTooltipPosition]="position">STL: {{data.steals_per_game}}</div> 
                <div class="stat" matTooltip="Blocks per game" [matTooltipPosition]="position">BLK: {{data.blocks_per_game}}</div>
            </div>
            <div class="Statcol">
                    <div class="stat" matTooltip="Efficiency rating" [matTooltipPosition]="position">ER: {{data.player_efficiency_rating}}</div>
                <div class="stat" matTooltip="Turnovers per game" [matTooltipPosition]="position">TOV: {{data.turnovers_per_game}}</div>
                <div class="stat" matTooltip="Free throw %" [matTooltipPosition]="position">FT%: {{data.free_throw_percentage}}</div>  
            </div>
        </div>
    </div>
    <ng-template #edit><div mat-dialog-content   class="Info">
        <div class="NameEdit">
            <mat-form-field class="NameField" ><input matInput placeholder="Name" [(ngModel)]="data.name"></mat-form-field>
            <mat-form-field class="TeamNameField"><input matInput placeholder="Team name" [(ngModel)]="data.team_name"></mat-form-field>
        </div>
        <div class="StatWrap">
            <div class="Statcol">
                <div class="stat" matTooltip="Games played" [matTooltipPosition]="position">
                     <mat-form-field>
                         <input matInput placeholder="Games" [(ngModel)]="data.games_played">
                    </mat-form-field>
                </div>
                <div class="stat" matTooltip="Points per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="PPG" [(ngModel)]="data.points_per_game">
                    </mat-form-field>   
                </div>
                <div class="stat" matTooltip="Minutes per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="MP" [(ngModel)]="data.minutes_per_game">
                    </mat-form-field>
                </div>
            </div>
            <div class="Statcol">
                <div class="stat" matTooltip="Field goals per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input  matInput placeholder="FG" [(ngModel)]="data.field_goals_made_per_game">
                    </mat-form-field>
                </div>
                <div class="stat" matTooltip="Field goals attempted per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input  matInput placeholder="FGA" [(ngModel)]="data.field_goals_attempted_per_game">
                    </mat-form-field>
                </div> 
                <div class="stat" matTooltip="Field goals %" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input  matInput placeholder="FG%" [(ngModel)]="data.field_goal_percentage">
                    </mat-form-field>
                </div> 
            </div>
            <div class="Statcol">
                <div class="stat" matTooltip="Three point per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="3P" [(ngModel)]="data.three_point_made_per_game">
                    </mat-form-field>
                </div>
                <div class="stat" matTooltip="Three point attempted per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="3PA" [(ngModel)]="data.three_point_attempted_per_game">
                    </mat-form-field>
                </div>
                <div class="stat" matTooltip="Three point %" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="3P%" [(ngModel)]="data.three_point_percentage">
                    </mat-form-field>
                </div>   
            </div>
            <div class="Statcol">
                <div class="stat" matTooltip="Offensive rebounds per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="ORB" [(ngModel)]="data.offensive_rebounds_per_game">
                    </mat-form-field>
                </div>
                <div class="stat" matTooltip="Defensive rebounds per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="DRB" [(ngModel)]="data.defensive_rebounds_per_game">
                    </mat-form-field>
                </div>
                <div class="stat" matTooltip="Total rebounds per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="TRB" [(ngModel)]="data.rebounds_per_game">
                    </mat-form-field>
                </div>
            </div>
            <div class="Statcol">
                <div class="stat" matTooltip="Assists per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="AST" [(ngModel)]="data.assists_per_game">
                    </mat-form-field>
                </div>
                <div class="stat" matTooltip="Steals per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="STL" [(ngModel)]="data.steals_per_game">
                    </mat-form-field>
                </div> 
                <div class="stat" matTooltip="Blocks per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="BLK" [(ngModel)]="data.blocks_per_game">
                    </mat-form-field>
                </div>
            </div>
            <div class="Statcol">
                <div class="stat" matTooltip="Efficiency rating" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="ER" [(ngModel)]="data.player_efficiency_rating">
                    </mat-form-field>
                </div>
                <div class="stat" matTooltip="Turnovers per game" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="TOV" [(ngModel)]="data.turnovers_per_game">
                    </mat-form-field>
                </div>
                <div class="stat" matTooltip="Free throw %" [matTooltipPosition]="position">
                    <mat-form-field>
                        <input matInput placeholder="FT%" [(ngModel)]="data.free_throw_percentage">
                    </mat-form-field>
                </div>  
            </div>
        </div>
    </div></ng-template>
    <div mat-dialog-actions class="FavoriteBtnWrapper">
        <button mat-icon-button (click)="closeModal()" >
            <mat-icon color="accent">close</mat-icon>
        </button>
        <div class="EditBtnWrap">
            <button mat-icon-button (click)="editModal()" >
                <mat-icon *ngIf="!editable; else save" color="accent">edit</mat-icon>
                <ng-template #save ><mat-icon color="accent">save</mat-icon></ng-template>
            </button>
        </div>
        
        <button mat-icon-button>
            <mat-icon *ngIf="data.favorite_status;else gray" color = "warn" class="FavoriteBtn" (click)="SelectFavorite(data)">favorite</mat-icon>
            <ng-template #gray><mat-icon color = "accent" class="FavoriteBtn" (click)="SelectFavorite(data)">favorite</mat-icon></ng-template>
        </button>
    </div>
</div>